/*-----------------------------------Обнуление----------------------------------------------------*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height: 100%;width: 100%;font-size: 100%;line-height: 1;font-size: 14px;-ms-text-size-adjust: 100%;-moz-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;}
input,button,textarea {font-family: inherit;}
input::-ms-clear{display: none;}
button {cursor: pointer;}
button::-moz-focus-inner {padding: 0;border: 0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6 {font-size: inherit;font-weight: 400;}
/*----------------------------------Конец обнуления-----------------------------------------------*/

body{
    font-family: Montserrat;
    font-size: 16px;
    color: #000000;
}
.container {
    width: 1150px;
    padding: 0px 15px 0px 15px;
    margin: 0 auto;
}
.wrapper {

}
.header {
    min-width: 100%;
    background-image: url(/img/Fullscreen-img-1.jpg);
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.header__menu {
    padding: 40px 0px 0px 50%;
    font-weight: 500;
    line-height: 20px;
    border-bottom: 1px solid rgba(161, 161, 161, 0.5);
}
.header__list {
    display: flex;
    height: 60px;
}
.header__list li{
    padding: 0px 20px 0px 20px;
}
.header__list li:nth-child(2){
    min-width: 166px;
}
.header__link{
    color: #FFFFFF;
}
.header__list li:hover{
    border-bottom: 2px solid #FFFFFF;;
}
.fullscreen__text {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 100%;
    color: #FFFFFF;
    justify-content: center;
    align-content: center;
    min-height: 90vh;
}
.fullscreen__text p:nth-child(2){
    max-width: 830px;
    margin: 20px auto 50px;
}
.fullscreen__title {
    font-weight: 500;
    line-height: 20px;
}
.fullscreen__subtitle {
    font-weight: 800;
    font-size: 48px;
    line-height: 64px;
}
.fullscreen__link {

    align-self: center;
    
}
.link{
    line-height: 20px;
    font-weight: 500;
    padding: 13px 0;
    background: #4985FF;
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    border-radius: 30px;
    border: 2px solid #4985FF;
    color: #FFFFFF;
    min-width: 200px;
}
.link:hover{
    color:#4985FF;
    background: #FFffff;

}

/* ----------------------------------------main------------------------------------- */
.main {
}
.title{
    font-size: 36px;
    line-height: 53px;
    color: #323232;
    font-weight: 700;
}
/* --------------------------------------servises----------------------------------- */
.servises {
    margin: 110px 0px 105px 0px;
    text-align: center;
}
.servises__title {
    max-width: 739px;
    margin: 0 auto 50px;
}
.servises__subtitle {
    line-height: 25px;
    color: #999999;
    margin: 0 auto 70px;
    max-width: 730px;
}
.servises__row {
    display: flex;
    margin-bottom: 55px;
}
.servises__item {
    flex: 0 0 calc((1120px - 54px)/3);
    display: flex;
}
.servises__item:not(:last-child){
    margin-right: 27px;
}
.servises__img {
    min-width: 110px;
    min-height: 110px;
    background: url(/img/icon/Ellipse-1.svg) 0 0 no-repeat,url(/img/icon/Ellipse-2.svg) 10px 10px no-repeat,url(/img/icon/project.svg) 35px 35px no-repeat;
}
.servises__body {
    padding: 10px;
}
.servises__body p:first-child{
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    padding-top: 49px;
    margin-bottom: 12px;
}
.servises__body p:last-child{
    font-size: 14px;
    line-height: 22px;
    color: #999999;
}
.servises__link{
    display: inline-block;
}



.footer {
}